.container {
  display: flex;
}

.itemcontainer {
    width: 150px;
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow:6px 6px 1px darkgrey;
    background-color: #d0d0e1;
}



.itemcontainerdesc{
    height: 30%;
}

#parent {
  background-image: url(http://idwgames.com/wp-content/uploads/2014/09/machi-koro.jpg);
  background-size: cover;
  background-position: top right;
}

/*.coin-container {
  position: absolute;
  bottom: 0;
  left: 6rem;
}
.coin-container p {
  font-size: 3rem;
  position: absolute;
  bottom: 0rem;
  width: 8rem;
}
.coin-container .coin p {
  font-family: georgia;
  font-style: italic;
  position: absolute;
  font-size: 28px;
  z-index: 700;
  top: 4px;
  left: 8px;
}
.coin-container .coin.bronze p {
  color: #dfb667;
}
.coin-container .coin.silver p {
  color: #a0a0a0;
}
.coin-container .coin.gold p {
  color: #f2d732;
}
.coin-container .coin {
  cursor: pointer;
  content: "";
  width: 52px;
  height: 52px;
  display: inline-block;
  position: absolute;
  margin: 5px;
  bottom: 0;
  right: 0;
  border-radius: 50px;
  z-index: 500;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.coin-container .coin:after {
  content: "";
  width: 42px;
  height: 42px;
  display: block;
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 50px;
  z-index: 600;
}
.coin-container .coin:before {
  content: "";
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  border-radius: 50px;
  z-index: 500;
}
.coin-container .bronze {
  background: linear-gradient(45deg, #dfb667 0%, #f9f3e8 56%, #e7c074 96%);
}
.coin-container .bronze:before {
  background: linear-gradient(135deg, #d19c35 0%, #f7e6c5 50%, #e8b558 100%);
  border: 1px solid #e6b86a;
}
.coin-container .bronze:after {
  background: linear-gradient(45deg, #dfb667 0%, #f9f3e8 56%, #e7c074 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(209, 156, 53, 0.3);
  border-right: 1px solid rgba(209, 156, 53, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, 0.05);
}
.coin-container .silver {
  background: linear-gradient(45deg, #a0a0a0 0%, #e8e8e8 56%);
}
.coin-container .silver:before {
  background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
  border: 1px solid #b5b5b5;
}
.coin-container .silver:after {
  background: linear-gradient(45deg, #b5b5b5 0%, #fcfcfc 56%, #e8e8e8 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(160, 160, 160, 0.3);
  border-right: 1px solid rgba(160, 160, 160, 0.5);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}
.coin-container .gold {
  background: linear-gradient(45deg, #f2d70c 0%, white 56%, #fceb00 96%);
}
.coin-container .gold:before {
  background: linear-gradient(45deg, #f2d70c 0%, white 56%, #fceb00 96%);
  border: 1px solid #f2d70c;
}
.coin-container .gold:after {
  background: linear-gradient(45deg, #f2d70c 0%, white 56%, #fceb00 96%);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(242, 215, 12, 0.3);
  border-right: 1px solid rgba(242, 215, 12, 0.3);
  box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, 0.05);
}*/
